<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Header Area Start -->
<header class="header-area" th:fragment="header">
  <!-- Main Header Start -->
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="alimeNav">

          <!-- Logo -->
          <a class="nav-brand" th:href="@{/}"><img th:src="@{/img/core-img/logo3.png}" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/photograph}">photograph</a></li>
                <li><a th:href="@{gallery}">Gallery</a></li>
                <li><a th:href="@{/blog}">Dairy</a></li>
                <li><a th:href="@{/study}">Study</a></li>
                <li><a th:href="@{/manage}">Admin</a></li>
              </ul>
              <!-- Search Icon -->
              <div class="search-icon" data-toggle="modal" data-target="#searchModal"><i
                class="ti-search"></i></div>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header Area End -->
</body>
</html>
