<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
</head>

<body>
    <h1 style="text-align: center;">
        编辑
    </h1>
    <div style="width: 1000px; margin-left: 50px;" >
        <form class="ui form" th:action="@{/dairy/edit/submit}" >
            <div class="field">
              <label>标题</label>
              <input type="text" name="title" placeholder="标题...">
            </div>
            <div class="field">
              <label>描述</label>
              <input type="text" name="description" placeholder="描述...">
            </div>
            <div id="div1">
            </div>
          <input type="text" name ="content" style="display: none" id="fuck">
            <button class="ui button" id = "btn" type="submit">Submit</button>
          </form>

    </div>

    <!-- 引入 wangEditor.min.js -->
    <script type="text/javascript">
        const E = window.wangEditor
        const editor = new E('#div1')
        // 或者 const editor = new E( document.getElementById('div1') )
        editor.config.height = 300;
        editor.config.width = 100;
        editor.create()
        console.log(editor.txt.html());
        $("#btn").click(function () {
          console.log(editor.txt.html());
          $("#fuck").val(editor.txt.html());
          }
        )

    </script>



</body>

</html>
