<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" th:href="@{/css/ff.css}">
  <link rel="stylesheet" th:href="@{/timeline/css/style.css}">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"/>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js}"></script>
  <title>dairy</title>
  <!-- Favicon -->
  <link rel="icon" th:href="@{/img/core-img/favicon.png}">

  <!-- Stylesheet -->
  <link rel="stylesheet" th:href="@{/style.css}">
<style>
  body{
    background:url(/img/bg-img/fl.jpg);
    /*width:100%;*/
    /*height:100%;*/
    /*background-size:100% 100%;*/
    /*position:absolute;*/
  }
</style>

</head>
<body >
<header th:insert="~{common/header::header(active='dairy')}">
</header>
<!--<img th:src="@{/img/bg-img/fl.jpg}" alt="" class="ui m-bg image" id="bg_img">-->


<div class="alime-portfolio-area section-padding-80 clearfix">
  <div >
    <ul class="timeline" >
      <!-- Item 1 -->
      <li th:each="dd:${dairy}" >
        <div  th:classappend="${dd.getId()%2==0}?'direction-r':'direction-l'">
          <div class="flag-wrapper">
            <span class="flag" th:text="${dd.getTitle()}"></span>
            <span class="time-wrapper"><span class="time" th:text="${dd.getFormat()}"></span></span>
          </div>
          <div class="desc" th:text="${dd.getDescription()}" ></div>
        </div>
      </li>
    </ul>
  </div>
</div>



<!-- Follow Area Start -->
<section class="follow-area clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>CSDN</h2>
          <p>@FlashCanSavetheWorld</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Instagram Feed Area -->
  <div class="instragram-feed-area owl-carousel">
    <!-- Single Instagram Item -->
    <div class="single-instagram-item">
      <img th:src="@{/img/show/1.jpg}" alt="">
      <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
        <a href="#">
          <i class="ti-instagram" aria-hidden="true"></i>
          <span>FLASH</span>
        </a>
      </div>
    </div>
    <!-- Single Instagram Item -->
    <div class="single-instagram-item">
      <img th:src="@{/img/show/2.jpg}" alt="">
      <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
        <a href="#">
          <i class="ti-instagram" aria-hidden="true"></i>
          <span>FLASH</span>
        </a>
      </div>
    </div>
    <!-- Single Instagram Item -->
    <div class="single-instagram-item">
      <img th:src="@{/img/show/3.jpg}" alt="">
      <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
        <a href="#">
          <i class="ti-instagram" aria-hidden="true"></i>
          <span>FLASH</span>
        </a>
      </div>
    </div>
    <!-- Single Instagram Item -->
    <div class="single-instagram-item">
      <img th:src="@{/img/show/4.jpg}" alt="">
      <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
        <a href="#">
          <i class="ti-instagram" aria-hidden="true"></i>
          <span>FLASH</span>
        </a>
      </div>
    </div>
    <!-- Single Instagram Item -->
    <div class="single-instagram-item">
      <img th:src="@{/img/show/5.jpg}" alt="">
      <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
        <a href="#">
          <i class="ti-instagram" aria-hidden="true"></i>
          <span>FLASH</span>
        </a>
      </div>
    </div>
    <!-- Single Instagram Item -->
    <div class="single-instagram-item">
      <img th:src="@{/img/show/6.jpg}" alt="">
      <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
        <a href="#">
          <i class="ti-instagram" aria-hidden="true"></i>
          <span>FLASH</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Follow Area End -->

<!-- Footer Area Start -->
<footer th:insert="~{common/footer::footer}">
</footer>
<!-- All Plugins -->
<script th:src="@{/js/alime.bundle.js}"></script>
<!-- Active -->
<script th:src="@{/js/default-assets/active.js}"></script>

</body>
</html>
