<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>AddDairy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js}"></script>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"/>
  <link rel="icon" th:href="@{/img/core-img/favicon.png}">

  <link rel="stylesheet" th:href="@{/style.css}">
  <style>
    .center-in-center{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  </style>
</head>

<body>
<div th:insert="~{common/header::top}"></div>
<header th:insert="~{common/header::header(active='Admin')}">
</header>


<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/img/bg-img/fff.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcrumb-content text-center">
          <h2 class="page-title">时间轴管理</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a th:href="@{/}"><i class="icon_house_alt"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">时间轴管理</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="alime-portfolio-area section-padding-80 clearfix">
<div class="ui piled segment" th:each="dd:${dairy}">
  <h4 class="ui header"th:text="${dd.getTitle()}">头部</h4>
  <p th:text="${dd.getDescription()}">Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
  <p th:text="${dd.getCreated()}"></p>
  <a class="positive ui button" th:href="@{/manage/dairy/edit/}+${dd.getId()}">编辑</a>
  <button class="negative ui button" th:onclick="myFunction([[${dd.getId}]])" >删除</button>
</div>
</div>
<script>
  function myFunction(a) {
    var txt;
    if (confirm("确认删除")) {
      window.location.assign("/manage/dairy/delete/"+a);
      window.alert("删除成功")
    }
    // document.getElementById("demo").innerHTML = txt;
  }
</script>

<!-- jQuery 2.2.4 -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Popper -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- All Plugins -->
<script th:src="@{/js/alime.bundle.js}"></script>
<!-- Active -->
<script th:src="@{/js/default-assets/active.js}"></script>
</body>
</html>
