<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>AddDairy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js}"></script>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"/>
  <link rel="icon" th:href="@{/img/core-img/favicon.png}">

  <link rel="stylesheet" th:href="@{/style.css}">
  <style>

    body{
      background:url(/img/bg-img/3.jpg)no-repeat;
      width:100%;
      height:100%;
      background-size:100% 100%;
      position:absolute;
      filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg-login.png',sizingMethod='scale');
    }
  </style>
</head>

<body>
<header th:insert="~{common/header::header(active='dairyManage')}">
</header>

<div class="alime-portfolio-area section-padding-80  clearfix">
<div style="margin-left: 32%">
  <form class="ui form" th:action="@{/manage/dairy/edit/submit/}+${dairy.getId()}" style="width: 500px">
    <div class="field">
      <label>标题</label>
      <input type="text" name="title" placeholder="标题.." th:value="${dairy.getTitle()}">
    </div>
    <div class="field">
      <label>短文本</label>
      <textarea rows="2" name="description" th:text="${dairy.getDescription()}"></textarea>
    </div>
    Date: <input type="date" name="date" th:value="${dairy.getCreated()}"/>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>
</div>

<!-- jQuery 2.2.4 -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Popper -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- All Plugins -->
<script th:src="@{/js/alime.bundle.js}"></script>
<!-- Active -->
<script th:src="@{/js/default-assets/active.js}"></script>

</body>
</html>
