<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>FLASH</title>

  <!-- Favicon -->
  <link rel="icon" th:href="@{/img/core-img/favicon.png}">

  <!-- Stylesheet -->
  <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Top Search Form Area -->
    <div class="top-search-area">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="ti-close"></i></button>
                        <!-- Form -->
                        <form action="index.html" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area Start -->
   <header th:insert="~{common/header::header}"></header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/fff.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Photograph</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a th:href="@{/}"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Photograph</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Gallery Area Start -->
    <div class="alime-portfolio-area section-padding-80 clearfix">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Projects Menu -->
            <div class="alime-projects-menu">
              <div class="portfolio-menu text-center">
                <button class="btn active" data-filter="*">All</button>
                <button class="btn" data-filter=".QingDao">QingDao</button>
                <button class="btn" data-filter=".ShuZhou">ShuZhou</button>
                <button class="btn" data-filter=".NanJing">NanJing</button>
                <button class="btn" data-filter=".WuXi">WuXi</button>
                <button class="btn" data-filter=".Life">Life</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row alime-portfolio" >
          <!-- Single Gallery Item -->
          <div class="col-12 col-sm-6 col-lg-3 single_gallery_item mb-30 wow fadeInUp"
               th:data-wow-delay="${photoStat.index*100}" th:each="photo:${photos}" th:classappend="${photo.getCategory()}" >
            <div class="single-portfolio-content" >
              <img th:src="@{/photosf/}+${photo.getNamef()}" alt="">
              <div class="hover-content">
                <a th:href="@{/photos/}+${photo.getName()}"  class="portfolio-img">+</a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
    <!-- Gallery Area End -->

    <!-- Follow Area Start -->
    <section class="follow-area clearfix">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>CSDN</h2>
            <p>@FlashCanSavetheWorld</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Instagram Feed Area -->
    <div class="instragram-feed-area owl-carousel">
      <!-- Single Instagram Item -->
      <div class="single-instagram-item">
        <img th:src="@{/img/show/1.jpg}" alt="">
        <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
          <a href="#">
            <i class="ti-instagram" aria-hidden="true"></i>
            <span>FLASH</span>
          </a>
        </div>
      </div>
      <!-- Single Instagram Item -->
      <div class="single-instagram-item">
        <img th:src="@{/img/show/2.jpg}" alt="">
        <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
          <a href="#">
            <i class="ti-instagram" aria-hidden="true"></i>
            <span>FLASH</span>
          </a>
        </div>
      </div>
      <!-- Single Instagram Item -->
      <div class="single-instagram-item">
        <img th:src="@{/img/show/3.jpg}" alt="">
        <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
          <a href="#">
            <i class="ti-instagram" aria-hidden="true"></i>
            <span>FLASH</span>
          </a>
        </div>
      </div>
      <!-- Single Instagram Item -->
      <div class="single-instagram-item">
        <img th:src="@{/img/show/4.jpg}" alt="">
        <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
          <a href="#">
            <i class="ti-instagram" aria-hidden="true"></i>
            <span>FLASH</span>
          </a>
        </div>
      </div>
      <!-- Single Instagram Item -->
      <div class="single-instagram-item">
        <img th:src="@{/img/show/5.jpg}" alt="">
        <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
          <a href="#">
            <i class="ti-instagram" aria-hidden="true"></i>
            <span>FLASH</span>
          </a>
        </div>
      </div>
      <!-- Single Instagram Item -->
      <div class="single-instagram-item">
        <img th:src="@{/img/show/6.jpg}" alt="">
        <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
          <a href="#">
            <i class="ti-instagram" aria-hidden="true"></i>
            <span>FLASH</span>
          </a>
        </div>
      </div>
    </div>
    </section>
    <!-- Follow Area End -->

    <!-- Footer Area Start -->
    <footer th:insert="~{common/footer::footer}">
    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!-- Popper -->
    <script th:src="@{/js/popper.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- All Plugins -->
    <script th:src="@{/js/alime.bundle.js}"></script>
    <!-- Active -->
    <script th:src="@{/js/default-assets/active.js}"></script>

</body>

</html>
