<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>图片管理</title>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js}"></script>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css}"/>
  <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">
  <link rel="icon" th:href="@{/img/core-img/favicon.png}">

  <!-- Stylesheet -->
  <link rel="stylesheet" th:href="@{/style.css}">
  <style>
    div.ff {
      margin-bottom: 20px;
    }
    .cc{
      width:200px;
      display: block;
      margin:0 auto;
    }

  </style>
</head>
<body>

<!--<div id="preloader">-->
<!--  <div class="loader"></div>-->
<!--</div>-->

<!-- Top Search Form Area -->
<div class="top-search-area">
  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Close -->
          <button type="button" class="btn close-btn" data-dismiss="modal"><i class="ti-close"></i></button>
          <!-- Form -->
          <form action="../index.html" method="post">
            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<header th:insert="~{common/header::header}">
</header>
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/img/bg-img/fff.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcrumb-content text-center">
          <h2 class="page-title">照片管理</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a th:href="@{/}"><i class="icon_house_alt"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">照片管理</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="ui segment "  >
      <div class="ff " th:each="photo:${photos}" style="text-align: center">
        <img class="ui rounded centered medium image"  th:src="@{/photosf/}+${photo.getNamef()}">
        <div class="cc">
          <form class="ui form" method="POST" th:action="@{/manage/show/edit/}+${photo.getId}" style="width: 200px;text-align: center;">
            <div>
              <div class="field">
                <label>照片分类</label>
                <div class="ui selection dropdown">
                  <input type="hidden" name="category">
                  <i class="dropdown icon"></i>
                  <div class="default text" th:text="${photo.getCategory()}"></div>
                  <div class="menu" >
                    <div class="item" data-value="QingDao">青岛</div>
                    <div class="item" data-value="ShuZhou">苏州</div>
                    <div class="item" data-value="NanJing">南京</div>
                    <div class="item" data-value="WuXi">无锡</div>
                    <div class="item" data-value="Family">家人</div>
                    <div class="item" data-value="Life">生活</div>
                  </div>
                </div>
              </div>
              <button class="ui button" type="submit" >Submit</button>
            </div>
          </form>
        </div>

        <button class="negative ui centered button" th:onclick="myFunction([[${photo.getId}]])" style="margin-top: 15px">删除</button>
      </div>
</div>

</body>
<script>
  function myFunction(a) {
    var txt;
    if (confirm("确认删除")) {
      window.location.assign("/manage/show/delete/"+a);
      window.alert("删除成功")
    }
    // document.getElementById("demo").innerHTML = txt;
  }

  $(document).ready(function(){
    $('.ui.selection.dropdown').dropdown();
  });
</script>

</html>
